*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* inizio header */

header{
    height: 70px;
    margin-top: 30px;
}

header::after{
    display: table;
    content: "";
    clear: both;
}

.container-logo{
    float: left;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.container-difficolta{
    float: right;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

h1{
    margin-left: 10px;
}

#play{
    margin-left: 30px;
    background-color: blue;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    border: 1px solid blue;
}


/* fine header */

/* inizio main */



main{
    background-color: aquamarine;
    width: 100%;
    height: calc(100vh - 150px);
    padding: 30px 0px;
}

.container-grid{
    width: 40%;
    height: 500px;
    margin: 0 auto;
}

.container-grid::after{
    display: table;
    content: '';
    clear: both;
}

.quadrato{
    border: 1px solid black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gioco{
    height: 100%;
    text-align: center;
}

.clicked{
    background-color: blue;
    color: white;
}

/* fine main */

/* inizio footer */

footer{
    height: 50px;
    padding: 15px 0px;
    margin-left: 30px;
}

footer a{
    text-decoration: none;
}

/* fine footer */